body {
  background-image: url(img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

div{
  background-image: url(avocado.jpg);
  background-repeat: repeat-y;
  background-color: white;
  overflow: scroll;
  width: 700px;
  height:320px;
}

.satu {
  color: blue;
  text-align: right;
  font-weight: bold;
}

.dua {
  color: green;
  text-align: left;
  font-weight: bold;
}

.tiga {
  color: red;
  text-align: right;
  font-weight: bold;
}
